body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #070544;
    background: #FEF8E8;
}

/**
* HEADER
*/
header
{
    /*position: fixed;
    top: 10px;
    width: 100%;
    z-index: 100;*/
    display: flex;
    justify-content: space-between;
    background: rgba(255, 174, 25, 0);
}

.logo
{
    margin-left: 15px;
    width: 36.5px;
    height: 48px;
}


nav .nav-items
{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    list-style: none;
    font-size: 22px;
    color: #E04483;
}

.item
{
    padding: 0 20px;
}

.item a
{
    text-decoration: none;
    color: #E04483;
}


/**
* MAIN
*/
main
{
    margin-top: 15%;
}

.introduction
{
    margin-left: 95px;
    margin-bottom: 280px;
}

.name h1
{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 53px;
}

.rectangle
{
    width: 80px;
    height: 6px;
    background: #E04483;
}

.person-description
{
    font-size: 22px;
    width: 1100px;
}


/* Skills and passions section */

.section-title
{
    margin-top: 160px;
    text-align: center;
    color: #E04483;
    font-weight: 400;
    font-size: 37px;
}

.skills-scroll
{
    color: #361D9D;
    font-size: 44px;
    font-weight: 400;
}

/*.skill-row
{
    display: flex;
    overflow: hidden;
    position: relative;
}*/

.skill-row span
{
    padding: 0 10px;
}

.skill-row span::after
{
    content: ",";
}

.skill-row span:hover
{
    color: #E6699C;
    cursor: pointer;
}

.hobbies-list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hobby-item p
{
    color: #361D9D;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}


/* Projects section */

.project-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 95px 86px 95px;
}

.project-description
{
    margin-left: 50px;
}

.project-description-reverse
{
    margin-right: 50px;
}

.project-type
{
    color: #EC8FB5;
    font-size: 22px;
    font-weight: normal;
}

.project-title
{
    color: #361D9D;
    font-family: 'Playfair Display', serif;
    font-size: 31px;
}

.project-body
{
    font-size: 18px;
}

.button-cta-more
{
    width: 160px;
    height: 40px;
    background: rgba(224, 68, 130, 0);
    border: 2px solid #E04483;
    border-radius: 10px;
    color: #E04483;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}

.button-cta-more:hover
{
    background: #E04483;
    cursor: pointer;
    color: white;
}

/*.button-cta-more .button-text
{
    text-align: center;
    margin-top: 8px;
    color: #E04483;
    font-size: 18px;
    font-weight: bold;
}*/


/* Illustrations section */

.illustrations-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dribbble-account
{
    text-align: center;
}

#dribbble-link
{
    text-decoration: none;
    color: #E04483;
    font-weight: bold;
}


/* Contact section */

.contact-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 95px 86px 95px;
}

.contact-text
{
    margin-left: 50px;
}

#email-link
{
    text-decoration: none;
    color: #E04483;
}

.contact-social-media a
{
    margin-right: 24px;
}

/**
* FOOTER
*/
footer
{
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 100px;
    background: #070544;
}

.footer-content
{
    margin-left: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 13px;
}

.footer-social-media
{
    margin-right: 70px;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyright
{
    text-align: center;
    color: #ffffff;
    font-size: 9px;
}

.sm-icons a
{
    margin: 8px;
}